*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
input, button, select, textarea {
    font-family: inherit;
}
button { 
    cursor: pointer; 
    border: none;
    background: transparent;
}
a {
    text-decoration: none;
    color: currentColor;
}
li {
    list-style-type: none;
}